#calendar-container {
    padding: 10;
    width: 80%;
    top: 40%;
    left: 50%;
    position: fixed;
    transform:translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}