#container {
    padding: 10;
    width: 80%;
    height:50%;
    background-color: var(--background-paper);
    top: 30%;
    left: 50%;
    position: fixed;
    transform:translate(-50%, -50%);
    border-color: var(--secondary-main);
    
}