.time-unit-container {
    width:150px;
    background-color:#555555; 
    align-items: center;
    justify-content: center;
    display: flex;
}

.date-container {
    align-items: center;
    justify-items: center;
    display: flex;
    width: 150px;
    padding:3px
}

.date-container-label {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 750;
    color: var(--text-primary);
}