#header {
    position: relative;
    width: 100vw;
    height: 40%;
    max-height: 75px;
    background-color:  #1e1e1e;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid;
    border-color: rgba(211, 211, 211, 0.61);
    border-width: .1px;
}

#header-title {
    color:var(--text-primary);
    font-weight: bolder;
    font-size: 38px;
    font-family: 'Times New Roman', Times, serif;
}