#header {
    position: relative;
    width: 100vw;
    height: 40%;
    max-height: 50px;
    background-color:  #1e1e1e;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-title {
    color:var(--text-primary);
    font-weight: bolder;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
}