#task-widget-container {
    background-color:var(--text-primary);
    z-index: 10;
    width: 100px;
    min-height: 100px;
    margin: 5px;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 5%;
    right: 20%;
}