.task-chip-container {
    width: 75px;
    height: 25px;
    border-radius: 50px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-main) !important;
    overflow: hidden;
}

.task-chip-text {
    font-size: 12px !important;
    white-space: nowrap;
    overflow-x: scroll;
}
