#task-list-outer-container {
    position: absolute;
    top: 15%;
    right: 2%;
    background: var(--gradient-bg);
    border: var(--border-default);
    box-shadow: var(--shadow-glow);
    min-height: 50px;
    max-height: 350px;
    min-width: 370px;
    overflow-y: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    padding-left: 1%;
    flex-direction: column;
}


.task-list-icon {
    color: var(--accent-light);
}