#view-control-container {
    background-color:var(--text-primary);
    z-index: 10;
    width: 40px;
    margin: 5px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    right: 11.5%;
}

#view-control {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2;
}


